@model FinancialRecordModel

@{
    ViewData["Title"] = "Financial Record Register";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="FinancialRecord" asp-action="Register" method="post">
    <div class="container">
        <div class="mb-3">
            <input type="hidden" id="txtId" class="form-control" asp-for="Id" />
            <label class="form-label" for="txtDescription">Description</label>
            <input type="text" id="txtDescription" class="form-control" asp-for="Description" />
        </div>
        <div class="mb-3">
            <label>@Html.RadioButtonFor(m => m.Type, "E") Expense </label>
            <label>@Html.RadioButtonFor(m => m.Type, "I") Income </label>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Save</button>
            <button type="button" class="btn btn-secondary btn-lg" onclick="Back()">Cancel</button>
        </div>

    </div>
</form>


<script>
    function Back() {
        console.log("Back: ");
        window.location.href = "/FinancialRecord/Index";
    }
</script>